@font-face {
  font-family: Krosta;
  src: url(/Assets/Krosta.otf);
}

.navbar,
.carousel,
.container-fluid {
  background-color: #f8e9dd;
}

h1 {
  font-family: Krosta, sans-serif;
  font-weight: bold;
  color: #376775;
}
