@import url("https://fonts.googleapis.com/css2?family=Sansita&display=swap");

.navbar,
.carousel,
.container-fluid {
  background-color: #f8e9dd;
}

h1 {
  font-family: "Sansita", sans-serif;
  font-weight: bold;
  color: #376775;
}
