@font-face {
  font-family: Krosta;
  src: url(Assets/Krosta.otf);
}
.header {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat center center;
  background-image: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)),
    url(Assets/Rosarios.png);
}

/* :::::: CLASES DE FULLPAGE.JS :::::: */
#fp-nav ul li a span {
  background: #ba5834;
}

#fp-nav ul li .fp-tooltip {
  color: #376775;
  font-weight: bold;
}

/* :::::: MENU DE NAVEGACION :::::: */
.nav {
  justify-content: space-around;
  position: fixed;
  display: flex;
  align-items: center;
  min-width: 8vh;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 10px 40px;
}

.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.ham span {
  display: block;
  background-color: #f8e9dd;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}

.nav li,
.nav a {
  display: inline-flex;
  justify-content: space-around;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Krosta;
  font-size: 18px;
  color: #f8e9dd;
  font-weight: bold;
  transition: 0.5s ease;
}

.nav a:hover {
  color: #376775;
}

/* .nav li.active {
  border-bottom: 2px solid #ba5834;
  padding: 0 10px;
} */

.menu li a {
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
}

.img {
  width: 200px;
  height: 45px;
}

h1 {
  font-family: Krosta;
  font-weight: bold;
  font-size: 45px;
  color: #f8e9dd;
}

.header .contenedor-titulo {
  text-align: center;
}

.header .contenedor-icono {
  position: absolute;
  bottom: 4%;
  font-size: 40px;
  animation: bajar-subir 1s ease infinite;
}

.fa-solid {
  color: #f8e9dd;
}

/* :::::: ANIMACION BOTON ABAJO ::::::*/
@keyframes bajar-subir {
  0% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

/* :::::: MOVILE :::::: */
@media (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .img {
    padding-left: 25px;
    padding-bottom: 15px;
  }

  .ham {
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0;
  }

  .nav .menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
  }

  .nav .menu li {
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  .nav .menu.activado {
    display: flex;
    background-color: #ba5834;
  }
}
